<!DOCTYPE html>
<html>
  <head>
    <title>Weather Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Weather Search</a>
    </nav>
    <div class="container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter location...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
            </div>
          </div>
        </div>

      </div>
			<div class="row justify-content-center mt-5">
        <div class="col-sm-6">
          <h1 class="text-center mb-4" id="city">Bujumbura</h1>
          <h3 class="mb-4" id="country">Country Code : BDI</h4>
          <h6 class="text-left mb-4" id="temperature">Temperature : 32 cel</h4>
          <h6 class="text-left mb-4" id="pressure">Pressure : 34</h4>
          <h6 class="text-left mb-4" id="humidity">Humidity : 234</h4>
          <h6 class="text-left mb-4" id="coordinates">Coordinates : 23'4</h4>
        </div>
      </div>
    </div>
  </body>
</html>
